:root{
    --background-color: #121212;
    --text1: rgba(255, 255, 255, 0.87)
}

body{
    background-color: var(--background-color);
    color: var(--text1);
}

/* Class CSS */

.Select-control{
    background-color: var(--background-color);
    color: var(--text1);
}

.Select-menu-outer{
    background-color: var(--background-color);
}

/* ID CSS */

input#city-dropdown{
    color: var(--text1);
}


